version: "3.9"

services:
  app:
    build:
      context: ..
      dockerfile: Dockerfile
    environment:
      OTEL_LAB_DATABASE_URL: postgresql+psycopg://postgres:postgres@postgres:5432/items
      OTEL_LAB_REDIS_URL: redis://redis:6379/0
      OTEL_LAB_CELERY_BROKER_URL: redis://redis:6379/1
      OTEL_LAB_CELERY_RESULT_BACKEND: redis://redis:6379/2
      OTEL_LAB_OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
      OTEL_LAB_OTEL_LOG_LEVEL: INFO
    depends_on:
      - postgres
      - redis
      - otel-collector
    ports:
      - "8000:8000"

  worker:
    build:
      context: ..
      dockerfile: Dockerfile.worker
    environment:
      OTEL_LAB_DATABASE_URL: postgresql+psycopg://postgres:postgres@postgres:5432/items
      OTEL_LAB_REDIS_URL: redis://redis:6379/0
      OTEL_LAB_CELERY_BROKER_URL: redis://redis:6379/1
      OTEL_LAB_CELERY_RESULT_BACKEND: redis://redis:6379/2
      OTEL_LAB_OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
    depends_on:
      - postgres
      - redis
      - otel-collector

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: items
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.99.0
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "4317:4317"
      - "4318:4318"

  jaeger:
    image: jaegertracing/all-in-one:1.57
    ports:
      - "16686:16686"

  prometheus:
    image: prom/prometheus:v2.51.2
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:10.4.2
    environment:
      GF_AUTH_ANONYMOUS_ENABLED: "true"
      GF_AUTH_ANONYMOUS_ORG_ROLE: "Admin"
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards

volumes:
  pgdata:
